<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-info	">
                <div class="panel-heading">Invitation Form</div><div class="panel-body">


                    <form name="invite" role="form">
                        <div class="form-group"> 
                            <input type="text" name="invtemail" class="form-control" ng-model="invtemail" placeholder="Enter Email Id" required="" ng-minlength="5" ng-maxlength="50" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" ng-blur="e = true" ng-focus="e = false">
                            <span ng-show="e">
                                <span ng-show="invite.invtemail.$error.pattern"> * Invalid email</span> 
                                <span ng-show="invite.invtemail.$error.minlength">* Your email is too short</span>
                                <span ng-show="invite.invtemail.$error.maxlength">* Your email is too long</span></span>
                        </div>
                        <div class="form-group"> 
                            <select ng-model="selrole" ng-change="userRole();" class="form-control" required="" >    <option value="" disabled selected hidden>Select Role</option>                          
                                <option value="Admin">Admin</option>
                                <option value="User">User</option>
                                <option value="Guest">Guest</option>
                            </select>
                        </div>
                        <div class="form-group"> 
                            <input type="submit" name="sendInvt" class="btn btn-lg btn-success btn-block" id="btnInvite" ng-model="sendInvt" value="Send Invitation" ng-click="inviteUser();" ng-disabled=" invite.$invalid || invite.invtemail.$error.pattern " >
                        </div>
                        <div class="form-group"> 
                            <span>{{emailmsg}}</span>
                        </div>
                    </form>


                </div>            
            </div>
        </div>
    </div>
</div>
