
<menu></menu>


    
        
        <div class="panel panel-success">
            <div class="panel-heading">User Table</div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" class="search-item form-control" ng-model="search" placeholder="Search Query:">
                </div>
                <table class="table table-bordered table-responsive table-hover table-striped example">
                    
                    <tr>
                        <th class="fetch" ><a href="" ng-click="columnToOrder = 'id';
                            reverse = !reverse"> ID </a></th>
                        <th class="fetch"><a href="" ng-click="columnToOrder = 'name';
                            reverse = !reverse"> NAME </a></th>
                        <th class="fetch"><a href="" ng-click="columnToOrder = 'email';
                            reverse = !reverse"> EMAIL ID </a></th>
                        <th class="fetch"><a href="" ng-click="columnToOrder = 'password';
                            reverse = !reverse"> PASSWORD </a></th>
                        <th class="fetch"><a href="" ng-click="columnToOrder = 'role';
                            reverse = !reverse"> ROLE </a></th>
                        <th class="fetch"><a href="" ng-click="columnToOrder = 'date_of_birth';
                            reverse = !reverse"> DATE_OF_BIRTH </a></th>
                        <th class="fetch" ng-hide="editth"><a href="" >Edit/Delete</a></th>
                    </tr>
                    <tr id="1" ng-repeat=" rec in records| orderBy:columnToOrder:reverse | filter:search | offset: currentPage * itemsPerPage | limitTo: itemsPerPage ">
                        <td class="fetch" ng-model="dataId">{{rec.id}}</td>
                        <td class="fetch" ><input type="text" name="rId" ng-model="rec.name" ng-show="editingData[rec.id]"><span ng-hide="editingData[rec.id]">{{rec.name}}</span></td>
                        <td class="fetch"><input type="text" name="rId" ng-model="rec.email" ng-show="editingData[rec.id]"><span ng-hide="editingData[rec.id]">{{rec.email}}</span></td>
                        <td class="fetch"><input type="text" name="rId" ng-model="rec.password" ng-show="editingData[rec.id]"><span ng-hide="editingData[rec.id]">{{rec.password}}</span></td>
                        <td class="fetch"><input type="text" name="rId" ng-model="rec.role" ng-show="editingData[rec.id]"><span ng-hide="editingData[rec.id]">{{rec.role}}</span></td>
                        <td class="fetch"><input type="text" name="rId" ng-model="rec.date_of_birth" ng-show="editingData[rec.id]"><span ng-hide="editingData[rec.id]">{{rec.date_of_birth}}</span></td>
                        <td class="fetch" ng-hide="edittd">
                            <input type = "button" name="edit" class="btn-btn btn-sm btn-success btn-block-success" value="Edit" ng-model="edit" ng-click="editData(rec);" ng-hide="editOption" ng-show="editbtnn[rec.id]">
                            <input type ="button" name="update"  class="btn-btn btn-sm btn-success btn-block-success" ng-model="update" ng-show="updbtn[rec.id]" value="Update" ng-click="updateData(rec);">
                            <input type = "button" name="delete"  class="btn-btn btn-sm btn-success btn-block-success" value="Delete" ng-model="delete" ng-click="deleteData(rec.id);" ng-hide="delOption"></td>
                    </tr>
                </table>
        <span>{{delmsg}}</span>

        <ul class="pager">  
            <li  class="previous"  ng-class="prevPageDisabled();" ng-click="prevPage()"> 
                <a href = "#">prev
                </a></li>
            <li class="next" ng-class="nextPageDisabled();" ng-click="nextPage()">
                <a href = "#">next
                </a></li>
        </ul>

    </div>
        </div>